.formulario{
    background-color: #000000;
}

.form-label{
    color: #f7ca0b;
}

.btn{
    background-color:#f7ca0b;
    color: #000000;
}

.btn:hover{
    background-color: #a0850c;
    color:#000000;
}