.modal-content,
.modal-header,
.modal-body,
.modal-footer,
.modal-title,
.form-label,
input {
  text-align: center;
}

.modal-content {
  background-color: #000 !important;
  color: #fff !important;
}
